#img{
    width: 200px;
}

#input1{
    width: 250px;
    margin-bottom: 15px;
    max-width: 3500;
}

#form-control {
    position: relative;
    top:1% ;
}
.bouton2{
    width: 250px;
   position: relative;
   margin: auto;
   margin-top: 10px;
}
center{
    margin-top: 35px;;
}

#para{
    
    margin-top: 10px;
    font-size: 12px;
}

#fit-picture {
    max-width: 350px;
    max-height: 250px;
    width: auto;
    height: auto;
    margin-top: 2.5rem;
    position: relative;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
}

#img-label {
    max-width: 100px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin-top: 2.5rem;
    position: relative;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
}

#emballage{
    max-width: 200px;
    max-height: 180px;
    
}

#img-ecoscore{
    max-width: 150px;
    max-height: 180px;
}

#formulaire{
    position: relative;
    top:1% ;
    
}